title: Nooblogaurus
description: "Personal Tools, cheat-sheets and utilities, shared in case they're useful."
baseurl: "/Nooblogaurus"
url: "https://noobosaurusblog.github.io"
markdown: kramdown
highlighter: rouge
theme: null
kramdown:
  input: GFM
collections:
  tools:
    output: true
    permalink: /tools/:name/
permalink: pretty
defaults:
  - scope:
      path: ""
    values:
      layout: default
